<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>知识图谱运维系统</title>
</head>

<body>
  <div id="app">
    <Triples></Triples>
  </div>

  <script src="//cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
  <link rel="stylesheet" href="//unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="//unpkg.com/element-ui/lib/index.js"></script>
  <script src="//unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    Vue.component('Triples', {
      template: ""
    })

    
    new Vue({
      el: '#app',
      data: exampleData
    })
  </script>



</body>
</html>